<select (change)="onChange($event)" id="selectCategoria">

    <option value="todos">Ver todos </option>

    <option [value]="categoria" *ngFor="let categoria of listaCategorias">
        {{ categoria.toUpperCase()}}
    </option>

</select>


<div class="articulos">

    <div class="articulo" *ngFor="let post of listaPosts">

        <h3>{{post.categoria.toUpperCase()}}</h3>
        <h2>{{post.titulo}} </h2>

        <figure>
            <img [src]="post.imagen" alt="imagen del post">
        </figure>

        <p>{{post.texto}}</p>
        <h4>{{post.autor}}</h4>
        <h4>{{post.fecha}}</h4>
    </div>

</div>